/* Base form styles (Block) */
.form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* Form field wrapper */
.form__field {
    margin-bottom: 1rem;
    width: 100%;
}

/* Form label styles */
.form__label {
    display: block;
    margin-bottom: 0.5rem;
    color: var(--color-text);
    font-size: 1rem;
}

/* Common styles for input, textarea, and select */
.form__input, .form__textarea, .form__select {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: var(--color-text);
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form__input:focus, .form__textarea:focus, .form__select:focus {
    border-color: var(--color-primary);
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

/* Placeholder styles */
.form__input::placeholder, .form__textarea::placeholder {
    color: var(--color-gray);
    opacity: 0.7;
}

/* Form validation styles */
.form__input.is-valid, .form__textarea.is-valid, .form__select.is-valid {
    border-color: var(--color-success);
}

.form__input.is-invalid, .form__textarea.is-invalid, .form__select.is-invalid {
    border-color: var(--color-error);
}

/* Form button styles */

.form__button:disabled {
    cursor: not-allowed;
    opacity: 0.65;
}

.form__button:hover:disabled {
    background-color: var(--color-primary); /* Reset to default */
    border-color: var(--color-primary); /* Reset to default */
}


/* Form button styles */
.form__button {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    color: var(--color-text);
    background-color: var(--color-primary);
    border: 1px solid var(--color-primary);
    transition: all 0.2s;
}

.form__button:hover {
    color: var(--color-text);
    background-color: var(--color-secondary);
    border-color: var(--color-secondary);
}
