/* Base transition class */
.transition {
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}

.color-transition {
    transition-property: color;
}

.bg-color-transition {
    transition-property: background-color;
}

.border-color-transition {
    transition-property: border-color;
}

.transform-transition {
    transition-property: transform;
}

.width-transition {
    transition-property: width;
}

.height-transition {
    transition-property: height;
}

.all-transition {
    transition-property: all;
}
